@model IEnumerable<MVCChurchDirectory.Models.Category>
<div>
    <button type="button" onclick="AddNewCat()">Add New church Job</button>
    <div id="NewCategory"></div>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        @foreach(var cat in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => cat.Name)
                </td>
                <td>
                    <button type="button" class=" btn glyphicon glyphicon-pencil" onclick="EditViewCategory(@cat.CatID)">  Edit</button>
                </td>
            </tr>
        }
    </table>

    <div id="CatNameChange">

    </div>
</div>
    

