@model IEnumerable<MVCChurchDirectory.Models.Category>
<div>
    <button type="button" onclick="AddNewCat()" class="btn btn-info">Add New church Job</button>
    <div id="NewCategory" class="detailContainer"></div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        @foreach(var cat in Model)
        {
            <tr>
                <td class="largeFont">
                    @Html.DisplayFor(model => cat.Name)
                </td>
                <td>
                    <button type="button" class="btn glyphicon glyphicon-pencil btn-primary" onclick="EditViewCategory(@cat.CatID)">  Edit</button>
                </td>
            </tr>
        }
    </table>

    <div id="CatNameChange" class="detailContainer">

    </div>
</div>
    

